<div class="container">
    {% for item in items %}
    <div class="cell">
        <div class="center">
            <p> {{item['Naam organisatie']}}</p>
            <p> {{item["Adres"]}}</p>
            <p> {{item["Postcode"]}}, {{item["Plaats"]}}</p>
        </div>
    </div>
    {% endfor %}
</div>
