body {
    margin: 0;
    font-size: 14px;
}

@page {
    size: auto;
    margin: 1em;
}

/* A lot of this could be simpler if we could use a grid layout :( 
 * https://github.com/Kozea/WeasyPrint/issues/543
 */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cell {
    position: relative;
    width: 31%;
    height: 136px;
    break-inside: avoid;
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

p {
    margin: 0;
}
